<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link href="/images/logo.png" rel="icon" type="image/x-ico">
    <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/admin.css" rel="stylesheet" crossorigin="anonymous">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"  type="text/javascript" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}" type="text/javascript" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}" type="text/javascript" crossorigin="anonymous"></script>
    <script src="/js/admin.js" type="text/javascript"></script>
</head>
<body>
    <h1 align="center">“线上点餐，线下用（取）餐”后台管理系统</h1><hr>
    <div id="storeList"></div>
</body>
</html>